.hero {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.carousel-text {
  position: relative;
  opacity: 0;
  animation: fadeInOut 4s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
